{:context   "Test plan"
 :constants {:sprints   6
             :unplanned 0.15
             :velocity  5}
 :profs     {:jeff   #{:app :ios}
             :kent   #{:app}
             :cathy  #{:app :data}
             :eric   #{:web :app}
             :jen    #{:web}
             :jordan #{:web :app}
             :john   #{:app :android}
             :jimmy  #{:ios :app}
             :mary   #{:android :app}}
 :contrib   [{:jeff   0
              :kent   0
              :cathy  1
              :eric   0.9
              :jen    1
              :jordan 1
              :john   0.5
              :jimmy  0.8
              :mary   0.5}
             {:jeff   0
              :kent   0
              :cathy  1
              :eric   0.9
              :jen    1
              :jordan 1
              :john   0.5
              :jimmy  0.8}
             {:jeff   1
              :kent   1
              :cathy  1
              :eric   0.9
              :jen    1
              :jordan 1
              :john   0.5
              :jimmy  0.8}
             {:jeff   1
              :kent   1
              :cathy  1
              :eric   0.9
              :jen    1
              :jordan 1
              :john   1
              :jimmy  0.8}]
 :projects  ({:name   "Dynamic FCap"
              :effort {:app 32}}
             {:name   "A11y"
              :effort {:web 45}}
             {:name   "Objectives"
              :effort {:web 4 :app 4}}
             {:name   "Editability"
              :effort {:ios     3
                       :android 3
                       :app     32
                       :web     3}}
             {:name   "Online Events Attribution"
              :effort {:app 20}}
             {:name   "Test leads"
              :effort {:app 20}}
             {:name   "TextViewModel migration"
              :effort {:app     5
                       :ios     2
                       :android 2
                       :web     3}}
             {:name   "SSCS"
              :effort {:web 8
                       :app 30}}
             {:name   "C2M"
              :effort {:ios     8
                       :android 8
                       :web     20
                       :app     40}}
             {:name   "Deprecate Custom Senders"
              :effort {:app     20
                       :ios     8
                       :android 8
                       :web     8}}
             {:name   "Sender Identity"
              :effort {:app 30
                       :web 20}}
             {:name   "Human handoff"
              :effort {:app     40
                       :web     40
                       :android 10
                       :ios     10}})}
